body {
  margin: 0;
  font-family: Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #01ffee ;
  margin: 0;
  padding: 1.5rem;
}
h1{
  text-align: center;
  text-decoration: wavy;
  font-weight: 900;
  box-shadow: 0 1px 3px;
  overflow: hidden;
  border: 1px solid red;
  border-radius:5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
